*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f3f5f7;
    height: 3000px;
}
/* 清除浮动 */
.clearfix:before,.clearfix::after{
    content: "";
    display: table;
}
.clearfix::after{
    clear: both;
}
.clearfix{
    *zoom: 1;
}

/* 版心 */
.ceneterwidth{
    width: 1200px;
    margin: 0 auto;
}
.header{
    margin: 30px auto;
    height: 42px;
}
.logo{
    float: left;
    width: 200px;
    height: 42px;
}
.nav{
    float: left;
    margin-left: 54px;
}
.nav li{
    float: left;
    list-style: none;
    font-size: 18px;
    color: #050505;
    padding: 0px 20px;
    height: 42px;
    line-height: 42px;
}
.nav li:hover{
    border-bottom: 2px solid #00a4ff;
}
.search{
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 90px;
}
.content{
    float:left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0; 
    padding-left: 15px;
    
}

.search_log{
    float: right;
    width: 50px;  
    height: 42px;
    border: 0;
    background: url(../images/fa-search.png) no-repeat top center;
}
.person_detail{
    float: left;
    margin-left: 22px;
}
.person_header{
    width: 30px;
    border-radius: 50%;

}
.username{
    float: right;
    font-size: 14px;
    color: #7e7e7f;

}

/* course */
.banner{
    height: 420px;
    background-color:#1c036c ;
}
.banner .ceneterwidth {
    height: 420px;
    background:url(../images/banner.jpg)
}
.kecheng{
    float: left;
    width: 168px;
    height:393px ;
    color: #ffffff;
    font-size: 14px;
    padding-top: 27px;
    background-color: rgba(19, 1, 75, 0.8);
}
.kecheng li{
    padding: 0px 20px;
    list-style: none;
    height: 44px;
}

.jian{
    float: right;
}

.kecheng li:hover{
    color:#00b4ff ;
}

.ceneterwidth .course{
    float: right;
    margin-top: 50px;
    width: 230px;
    background-color: #ffffff;
}
.course>h1{
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #9bceea;
    font-size: 18px;
    color: #ffffff;
}
.my_course{
    padding-left: 13px;
}
.my_course li{
    list-style: none;
    padding: 13px 0 ;
    border-bottom: 1px solid #eaeaea;
}
.my_course p{
    color: #999999;
    font-size: 12px;  
}
.my_course h1{
    color: #4e4e4e;
    font-size: 16px;
}
.all_course{
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin:5px 15px 12px 15px;
    color: #00a4ff;
    font-weight: 700;
    border: 1px solid #00a4ff;
}
.tuijian_bak{
    width: 100%;
    background-color:#f3f5f7 ;
}
.jingpintuijian{
    background-color: #ffffff;
    height: 60px;
    margin-top: 8px;
    box-shadow: 0px 2px 1px 0px rgba(234, 233, 240, 0.8);
}
.jingpintuijian .tujian{
    display: block;
    float: left;
    padding: 20px 35px 22px 35px;
    text-align: center;
    font-weight: 700;
    font-size:16px;
    color:#6bbfff;
}
.jingpintuijian ul{
    float: left;
    margin-top: 20px;
}
.jingpintuijian li{
  float: left;
  list-style: none;
}

.jingpintuijian li a{
    padding: 0px 35px;
    border-left: 1px solid gray;
}
.jingpintuijian  li a:hover{
   color:#6bbfff;
}
.jingpintuijian li a{
    font-size: 16px;   
    display: block;
}
.xiugaixingqu{
    color:#6bbfff;
    display: block;
    height: 60px;
    line-height: 60px;
    float: right;
    text-align: center;
    font-size: 14px;
    margin-right: 30px;
}
/* 精品推荐 */
.ceneterwidth .info{
    margin-top: 38px;
}
.ceneterwidth .info h4,.ceneterwidth .biancheng h4{
   float: left;
   font-size: 20px;
   font-weight: 300;
   color: #494949;
}
.ceneterwidth .info>a,.ceneterwidth .biancheng>a{
    float: right;
    margin-right: 30px;
    color: #a5a5a5;
    font-size: 12px;
 }
 .photo{
     float: left;
     width: 1225px;
     margin-top: 22px;
 }
 .photo li{
     background-color: #fff;
     list-style: none;
     float: left;
     width: 227px;
     height: 271px;
     margin: 0 16px 14px 0;
 }
 .photo img{
     width: 100%;
 }
 .photo .detail{
     margin-top: -5px;
     padding: 25px 20px 30px 25px;
 }
 .detail h4{
     font-weight: 400;
     font-size: 14px;
 }
 .detail p{
     font-size: 12px;
     margin-top: 20px;
 }
 .detail span{
     color: #ffb798;
 }
 .biancheng{
     margin-top: 40px;
 }
 .biancheng ul{
     list-style: none;
     float: left;
     margin-left: 355px;
 }
 .biancheng ul li{
     float: left;
     width: 102px;
 }
 .biancheng ul li a {
     font-size: 16px;
     color: #b6b7b8; 
 }
 .biancheng ul li a:hover{
    color: #00a4ff; 
}

/* 编程入门详情 */
.biancheng_content{
    width: 228px;
    height:392px;
    float: left;

}
.content_right{
    width: 959px;
    float: right;
}